@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&display=swap");
body, .btn {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

*::-moz-selection {
  background-color: #d3e01c;
  color: #4A586E;
}

*::selection {
  background-color: #d3e01c;
  color: #4A586E;
}

body {
  min-height: 100vh;
  padding: 1rem 0;
  background-color: #4A586E;
  color: #d3e01c;
  line-height: 1;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

button {
  cursor: pointer;
}

.btn {
  width: 10rem;
  height: 2.5rem;
  border: none;
  border-radius: 1rem;
  background-color: #bd0303;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: red;
}

.form-body {
  max-width: 500px;
  width: 90vw;
}

.form-heading {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-item {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-label {
  display: block;
  margin-bottom: 0.7rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.form-input {
  width: 100%;
  height: 2.5rem;
  padding: 0 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.form-input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 20px #04ca04;
          box-shadow: 0 0 20px #04ca04;
}

textarea.form-input {
  height: 6rem;
  padding: 0.5rem;
  resize: none;
}

.form-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6rem 6rem;
      grid-template-columns: 6rem 6rem;
}

.mark-input {
  display: none;
}

.mark-input:checked ~ .mark-label::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.mark-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  cursor: pointer;
}

.mark-label::before {
  content: '';
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1rem;
          flex: 0 0 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: white;
}

.mark-label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #bd0303;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

label[for="user-agreement"] {
  font-style: italic;
}

label[for="user-agreement"]::before {
  border-radius: 20%;
}

label[for="user-agreement"]::after {
  border-radius: 20%;
  background-color: #0d9c25;
}

.file {
  position: relative;
  display: inline-block;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: unset;
          transform: unset;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file-input:hover ~ .file-btn {
  background-color: #04ca04;
}

.file-btn {
  background-color: #0d9c25;
}

.file-preview img {
  width: 6rem;
  height: auto;
  display: block;
  margin-top: 0.7rem;
  border: 1px solid #04ca04;
}

.error .form-input {
  -webkit-box-shadow: 0 0 20px red;
          box-shadow: 0 0 20px red;
}

.error .mark-label::before {
  -webkit-box-shadow: 0 0 20px red;
          box-shadow: 0 0 20px red;
}

.error .file-btn {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.message {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: unset;
          transform: unset;
  color: red;
  font-size: 0.9rem;
  font-weight: bold;
}
